<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Передержка и поиск животных</title>
    <link rel="stylesheet" href="/static/css/about.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/map.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>

  </head>
  <body>
    <header class="header">
      <h1>Передержка и поиск животных</h1>
    </header>

    {% include 'includes/nav.html' %}

    <section class="hero">
      <h2>Помощь потерявшимся и бездомным животным</h2>
      <p>
        Наша цель — обеспечить безопасность животных и помочь им найти
        заботливых хозяев. Мы предоставляем временную передержку и содействуем в
        поиске пропавших питомцев.
      </p>
      <img
        src="https://img.freepik.com/premium-photo/a-person-holds-a-dogs-paw-with-a-brown-sweater_1262781-56554.jpg"
        class="hero-image"
      />
    </section>

    <section class="info-section">
      <h2>О проекте</h2>
      <p>
        Наш сайт предоставляет помощь как владельцам потерявшихся питомцев, так
        и тем, кто хочет помочь бездомным животным. Мы занимаемся передержкой,
        где волонтеры временно забирают животных к себе на время поиска их
        владельцев или новых хозяев. Этот процесс помогает многим животным
        избежать жизни на улице, получить необходимый уход и поддержку до тех
        пор, пока они не найдут новый дом.
      </p>

      <p>
        Также мы активно работаем с поиском потерявшихся питомцев. Наша
        платформа объединяет людей, которые нашли животных, и тех, кто их ищет.
        Мы предоставляем возможность разместить информацию о пропавшем животном,
        включая фотографии, описание и контактные данные владельца. Чем больше
        людей будут вовлечены в этот процесс, тем выше шанс вернуть питомцев
        домой.
      </p>

      <p>
        Если вы хотите помочь, вы можете стать волонтером передержки или
        поучаствовать в поиске. Вместе мы можем изменить судьбу множества
        животных, дать им шанс на новую жизнь, полную заботы и любви.
        Присоединяйтесь к нашему сообществу и помогайте животным вместе с нами!
      </p>
      <img
        src="https://i.pinimg.com/236x/f1/e7/1e/f1e71e6be913f47ca85fc7ca36c08392.jpg"
        class="info-image"
      />
    </section>

    {% include 'includes/reg.html' %}
    {% include 'includes/login.html' %}


    <footer class="footer">
      <p>&copy; 2024 Передержка и поиск животных</p>
    </footer>

    <script src="static/js/reg.js"></script>
    <script src="static/js/login.js"></script>

  </body>
</html>
