<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/UrPet.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/naydenushi.js" defer></script>
  <title>Document</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=04fcaae6-825a-469a-86fe-eabc5755edd4&lang=ru_RU"
    type="text/javascript"></script>
</head>
</head>

<body>
  {% include 'includes/nav2.html' %}
  <main></main>
  <footer class="footer">
    <p>&copy; 2024 Передержка и поиск животных</p>
  </footer>
</body>

</html>