<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/UrPet.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/naydenushi.js" defer></script>
    <title>Document</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=04fcaae6-825a-469a-86fe-eabc5755edd4&lang=ru_RU" type="text/javascript"></script>
</head>
</head>
<body>
    {% include 'includes/nav2.html' %}
  <section class="infa">
    <article class="head"><font size="6"><b>Мини-инструкция</b></font></article>
    <ul>
      <li><font size="5">На странице <b>"Передержка"</b> Вы можете оставить/взять животное на передержку.</font></li>
      <li><font size="5">На странице <b>"Потеряшки"</b> отмечены геолокации животных, где, по мнению хозяина, питомцы были потеряны.</font></li>
      <li><font size="5">На странице <b>"Найдёныши"</b> отмечены геолокации тех животных, которые были найдены.</font></li>
    </ul>
  </section>
  <section class="information">
    <article class="text"><font size="4"><p align="center">Этот сайт создан с целью помогать бездомным животным найти хозяина, а потерявшимся питомцам найти свой дом.
      На этом сайте каждый человек может внести свой вклад в улучшение жизни животных. Достаточно лишь заполнить анкету бездомного животного, которого вы встретили на улице и отправить ее на сайт.
      Эта анкета тут же попадет к службам отлова или волонтерам, которые, в свою очередь, помогут бедняге. 
    </p></font></article>
  </section>
  <img class="imga" src="https://klopik.com/uploads/posts/2017-11/1511195817_samye-trogatelnye-foto-bezdomnykh-zhivotnykh15.jpg">
  <section class="save"><h3>Спасать жизни может каждый!</h3></section>
  <footer class="footer">
    <p>&copy; 2024 Передержка и поиск животных</p>
  </footer>
</body>
</html>