body{
    background-color: #e6f2ff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.top-barfixed{
    background-color: #81b266;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.top-barfixed a{
    height: 35px;
    width: 120px;
    margin-left: 15px;
    background-color: #81b266;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.top-barfixed a:hover{
    background-color: #6c914c;
}
.imgofaccount{
    height: 330px;
    width: 330px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    background-color: #f1f7fe;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 10px;
    
}
.tit{
    margin-left: 15px;
}
.tita{
    margin-left: 60px;
}
#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #f6faff;
    font-family: 'Segoe UI';
    color: #1f3c44;
    border-radius: 5px;
    margin-left: 40px;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}
#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}
#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
:focus {
    outline: -webkit-focus-ring-color auto 5px;
}
#upload-container input[type=file]:focus + label {
    outline: -webkit-focus-ring-color auto 5px;
    outline: 1px solid #0078d7;
}
:focus {
    outline: 1px solid #0078d7;
    outline: 1px solid #212121;
}
#upload-container label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}
#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}
.personality{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    width: 380px;
    background-color: #f1f7fe;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
input[type="name"],
input[type="sername"],
input[type="email"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 250px;
    margin-left: 15px;
}
.save{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 125px;
    background-color: #81b266;
    color: white;
}
.save:hover{
    background-color: #6c914c;
    color: white;
}
.infa{
    height: 710px;
    width: 450px;
    background-color: #f6faff;
    display: flex;
    flex-direction: column;
}
.box{
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1c982;
    box-shadow: 0 0 1px #f3ffeb;
    color: white;
}
.bigbox{
    width: 500px;
}
.about_all{
    display: flex;
    height: 700px;
}
.chats{
    height: 50px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1c982;
    box-shadow: 0 0 1px #f3ffeb;
    color: white;
}
.chat{
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #dfeeff;
    flex-direction: column;
    margin-bottom: 610px;
}
.chatiki{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.makers{
    width: 260px;
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.pet_cards{
    margin-top: 10px;
}
.byca{
    width: 230px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.byca img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 5px;
}
.byca h3{
    display: flex;
    justify-content: center;
}
.byca button{
    margin-left: 90px;
    border-radius: 5px;
    cursor: pointer; 
    background-color: #b9daa0;
    color: white;
    border: none;
    
}
.byca button:hover{
    background-color: #a3df76;
    color: white;
    border: none;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.myca{
    width: 230px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.myca img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 5px;
    
}
.myca h3{
    display: flex;
    justify-content: center;
}
.myca button{
    margin-left: 90px;
    border-radius: 5px;
    cursor: pointer; 
    background-color: #b9daa0;
    color: white;
    border: none;
}
.myca button:hover{
    background-color: #a3df76;
    color: white;
    border: none;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.byca a, .myca a{
    text-decoration: none;
    color: white;
}
.footer {
    background-color: #81b266;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}