body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff;
    color: #333;
}

main {
    position: relative;
    min-height: 100vh;
}

.top-barfixed{
    background-color: #81b266;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.top-barfixed a{
    height: 35px;
    width: 120px;
    margin-left: 15px;
    background-color: #81b266;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.top-barfixed a:hover{
    background-color: #6c914c;
}
.main{
    background-color: #e6f2ff;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.hero {
    background-color: #d0f0c0;
    padding: 50px 20px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}



#address_on_map{
    background-color: #6c914c;
    color: white;
    border: none;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
}

#address_on_map:hover {
    background-color: #547a43;
}

#send{
    background-color: #6c914c;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#send:hover {
    background-color: #547a43;
}



.map-container {
    padding: 40px;
    text-align: center;
    background-color: #e0f7ec;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 20px auto;
}

.map-title {
    font-size: 2rem;
    color: #4a7c59;
    margin-bottom: 20px;
}

.map-description {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer {
    background-color: #81b266;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #e0f7ec;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

form {
    margin-top: 20px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3fef9;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #6c914c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #547a43;
}

