<nav class="top-barfixed">
  <a href="#" target="_self"><h2>UrPet</h2></a>
  <!--кнопка "UrPet" перекидывает на страницу "приютить животное" которая после регистрации-->
  <a href="/me" target="_self"><h3>Аккаунт</h3></a>
  <a
    href="/addopt"
    target="_self"
    ><h3>Приютить</h3></a
  >
  <a href="#" target="_self"><h3>Передержка</h3></a>
  <a href="/poterashki" target="_self"><h3>Потеряшки</h3></a>
  <!-- карта с красными поинтами тех присн, которые пропали -->
  <a href="/naydenushi" target="_self"><h3>Найдёныши</h3></a>
  <!-- карта с зелеными поинтами тех псин, которых нашли -->
  <a href="/auth/logout/" target="_self"><h3>Выйти</h3></a>
</nav>
