<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="blocklogin">
      <h2>Регистрация</h2>
      <form action="/auth/register">
        <label for="login">Имя и Фамилия:</label>
        <input type="text" id="name" name="name" required />

        <label for="login">Логин:</label>
        <input type="text" id="username" name="username" required />

        <label for="login">Почта:</label>
        <input type="text" id="email" name="email" required />

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
